<div class="row mt-2">
    <div class="col-2">
        <h3>Menú</h3>
      <hr>
      <side-menu></side-menu>
    </div>

    <div class="col-10">
        <p>Signals-layout woeks</p>
        <router-outlet></router-outlet>
    </div>
</div>
